/* 스크롤 가능한 컨텐츠 영역 */
#scrollable-content {
    height: 100%;
    overflow: auto;
}

/* 검색 결과가 없을 때의 스타일 */
.no-results {
    color: black; /* 텍스트 색상 설정 */
    font-weight: bold; /* 글꼴 두께 설정 */
}

/* 가족 정보 출력 스타일 */
.family-member {
    border: 1px solid #ccc; /* 테두리 스타일 및 색상 설정 */
    border-radius: 5px; /* 테두리 모서리 둥글게 설정 */
    padding: 20px; /* 내부 여백 설정 */
    margin: 10px 0; /* 바깥 여백 설정 */
    background-color: #f9f9f9; /* 배경색 설정 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 그림자 효과 설정 */
}

/* 가족 정보를 담은 테이블 스타일 */
.family-member table {
    width: 95%; /* 최대 너비 설정 */
}

/* 탭 스타일 */
.tab {
    overflow: hidden; /* 넘치는 부분 감춤 */
    border: 1px solid #ccc; /* 테두리 스타일 및 색상 설정 */
    background-color: #f1f1f1; /* 배경색 설정 */
}

/* 탭 내 버튼 스타일 */
.tab button {
    background-color: inherit; /* 상속된 배경색 사용 */
    float: left; /* 좌측 정렬 */
    border: none; /* 테두리 제거 */
    outline: none; /* 아웃라인 제거 */
    cursor: pointer; /* 커서 스타일 설정 */
    padding: 14px 16px; /* 내부 여백 설정 */
    transition: 0.3s; /* 전환 효과 설정 */
}

/* 버튼 호버 시 배경색 변경 */
.tab button:hover {
    background-color: #ddd; /* 호버 시 배경색 변경 */
}

/* 활성 탭 버튼 스타일 */
.tab button.active {
    background-color: #ccc; /* 활성 탭의 배경색 변경 */
}

/* 탭 콘텐츠 스타일 */
.tabcontent {
    display: none; /* 기본적으로 숨김 */
    padding: 6px 12px; /* 내부 여백 설정 */
    border: 1px solid #ccc; /* 테두리 스타일 및 색상 설정 */
    border-top: none; /* 상단 테두리 제거 */
}

/* 그리드 컨테이너 스타일 */
.grid-container {
    display: grid; /* 그리드 레이아웃 사용 */
    grid-template-columns: auto auto; /* 두 개의 열로 설정 */
    gap: 10px; /* 열 간격 설정 */
}

/* 그리드 아이템 (왼쪽, 오른쪽) 스타일 */
.grid-item-left, .grid-item-right {
    padding: 20px; /* 내부 여백 설정 */
}

/* 오른쪽으로 정렬된 탭 스타일 */
.tab {
    overflow: hidden; /* 넘치는 부분 감춤 */
    border: 1px solid #ccc; /* 테두리 스타일 및 색상 설정 */
    background-color: #f1f1f1; /* 배경색 설정 */
}

/* 오른쪽으로 정렬된 탭 내 버튼 스타일 */
.tab button {
    background-color: inherit; /* 상속된 배경색 사용 */
    float: right; /* 우측 정렬 */
    border: none; /* 테두리 제거 */
    outline: none; /* 아웃라인 제거 */
    cursor: pointer; /* 커서 스타일 설정 */
    padding: 14px 16px; /* 내부 여백 설정 */
    transition: 0.3s; /* 전환 효과 설정 */
}

/* 버튼 호버 시 배경색 변경 */
.tab button:hover {
    background-color: #ddd; /* 호버 시 배경색 변경 */
}

/* 활성 탭 버튼 스타일 */
.tab button.active {
    background-color: #ccc; /* 활성 탭의 배경색 변경 */
}

/* 탭 콘텐츠 스타일 */
.tabcontent {
    display: none; /* 기본적으로 숨김 */
    padding: 6px 12px; /* 내부 여백 설정 */
    border: 1px solid #ccc; /* 테두리 스타일 및 색상 설정 */
    border-top: none; /* 상단 테두리 제거 */
}


/* 그리드 컨테이너 스타일 */
.grid-container {
    display: grid; /* 그리드 레이아웃 사용 */
    grid-template-columns: auto auto; /* 두 개의 열로 설정 */
    gap: 10px; /* 열 간격 설정 */
}

/* 그리드 아이템 (왼쪽, 오른쪽) 스타일 */
.grid-item-left, .grid-item-right {
    padding: 20px; /* 내부 여백 설정 */
}